extends ./template/layout.jade
block contenido
  include ./template/header.jade
  div(class="container")
    header(class="major special")
      h2 Cotizante Ingresado Correctamente
      p Ahora podras tener todos los beneficios de suscribirte como cotizante, ademas de aprovechar al maximo nustros servicios
  include ./template/footer.jade
