extends ./template/layout.jade

block contenido

  //HEADER
  include ./template/header.jade

  div(class="container")
    header(class="major special")
      h2 Iniciar Sesion
      p El inicio de Sesion depende del rol que juega en el sistema

    form(action="/sesion", method="POST")
      .row.uniform(class='50%')
        div(class='12u$')
          label(for="usuario") Ingrese Usuario:
          input(type="text", name="usuario", placeholder="Usuario", id="usuario")
        div(class='12u$')
          label(for="password") Ingrese Contraseña:
          input(type="password", name="password", placeholder="Contraseña", id="password")
        div(class='12u$')
          ul.actions
            li
              input.special(value='Ingresar', type='submit')
            li
              input(value='Borrar', type='reset')
      
  //FOOTER
  include ./template/footer.jade
