extends ./layout.jade
block contenido
  h1 Bienvenidos a la Pagina de Login
  a(href="/") Cerrar Sesion
  form(action="/users", method="POST")
    div(class="form-group")
      label(for="email") Ingrese Correo Electronico:
      input(type="text", name="email", placeholder="Correo", id="email", class="form-control")
    div(class="form-group")
      label(for="password") Ingrese Contrase単a:
      input(type="password", name="password", placeholder="Contrase単a", id="password", class="form-control")
    div(class="form-group")
      label(for="password") Ingrese Contrase単a de Nuevo:
      input(type="password", name="password_confirmation", placeholder="Contrase単a de Nuevo", id="password_confirmation", class="form-control")
    div(class="form-group")
      input(type="submit", value="Iniciar Sesion", class="btn btn-info")
