.fecha
{
  background-color: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
  color: inherit;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  font-size: 11pt;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 2em;
  box-sizing: border-box;
  font: inherit;
  -webkit-text-size-adjust: none;
  -moz-appearance: none;
  color: #999 !important;
  opacity: 1.0;
  margin-bottom: 0;
  height: 3.5em;
  width: 100%;
  animation: none !important;
  transition: none !important;
}

.fecha:focus
{
  border-color: #51BAA4;
  box-shadow: 0 0 0 1px #51BAA4;
}

.redondo
{
  border: 2px solid grey;
  margin: 0;
  padding: 0;
  border-radius: 800px;
  overflow: hidden;
}
