extends ../template/layout.jade
block contenido
  include ../template/header.jade
  
  h1 Bienvenido Acudiente su nombre es #{user.s_nombre} y su apellido #{user.s_apellido}
  
  include ../template/footer.jade
